In [1]:
import pandas as pd
import gzip
import json
import ast
import re

In [2]:
data = []
with open('output_steam1_games.json')as f:
    for line in f:
        data.append(json.loads(line))
        
df = pd.DataFrame(data)
df

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120440,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,"[Single-player, Steam Achievements]",1.99,False,773640,"Nikita ""Ghost_RUS"""
120441,Sacada,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,"[Single-player, Steam Achievements, Steam Clou...",4.99,False,733530,Sacada
120442,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,"[Single-player, Steam Achievements, Steam Trad...",1.99,False,610660,Laush Dmitriy Sergeevich
120443,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",4.99,False,658870,"xropi,stev3ns"
120444,NaN,NaN,Maze Run VR,NaN,http://store.steampowered.com/app/681550/Maze_...,NaN,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,True,681550,NaN

In [3]:
df.shape

(120445, 13)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120445 entries, 0 to 120444
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24083 non-null  object
 1   genres        28852 non-null  object
 2   app_name      32133 non-null  object
 3   title         30085 non-null  object
 4   url           32135 non-null  object
 5   release_date  30068 non-null  object
 6   tags          31972 non-null  object
 7   reviews_url   32133 non-null  object
 8   specs         31465 non-null  object
 9   price         30758 non-null  object
 10  early_access  32135 non-null  object
 11  id            32133 non-null  object
 12  developer     28836 non-null  object
dtypes: object(13)
memory usage: 11.9+ MB

COLUMNA PUBLISHER

In [5]:
# Cambiar el nombre de la columna
df = df.rename(columns={'publisher': 'Publisher'})

In [6]:
def normalize_developer_name(name):
    if isinstance(name, str):  # Verificar si es una cadena antes de normalizar
        cleaned_name = re.sub(r'[^a-zA-Z\s]', '', name)
        normalized_name = re.sub(r'\s+', ' ', cleaned_name.lower().strip())
        return normalized_name
    else:
        return name

df['Publisher'] = df['Publisher'].apply(normalize_developer_name)

In [7]:
# FunciÃ³n para convertir valores float a cadena de texto
def float_to_str(value):
    if isinstance(value, float):
        return str(value)
    return value

# Aplicar la funciÃ³n a la columna
df['Publisher'] = df['Publisher'].apply(float_to_str)

In [8]:
# Aplicar la capitalizaciÃ³n a la columna
df['Publisher'] = df['Publisher'].str.title()

In [9]:
# Contar cuÃ¡ntos valores nulos hay en la columna 'genres'
nulos = df['Publisher'].isnull().sum()
print("\nCantidad de valores nulos en la columna 'Publisher':", nulos)

Cantidad de valores nulos en la columna 'Publisher': 0

COLUMNA GENRE

In [10]:
# Cambiar el nombre de la columna
df = df.rename(columns={'genres': 'Genres'})

In [11]:
# Contar cuÃ¡ntos valores nulos hay en la columna 'genres'
nulos = df['Genres'].isnull().sum()
print("\nCantidad de valores nulos en la columna 'Genres':", nulos)

Cantidad de valores nulos en la columna 'Genres': 91593

In [12]:
# Eliminar filas con valores nulos en la columna "Genres"
df.dropna(subset=['Genres'], inplace=True)

In [13]:
# FunciÃ³n para convertir valores float a cadena de texto
def float_to_str(value):
    if isinstance(value, float):
        return str(value)
    return value

# Aplicar la funciÃ³n a la columna
df['Genres'] = df['Genres'].apply(float_to_str)

In [14]:
# Convertir los valores de la columna 'genres' en una cadena separada por comas
df['Genres'] = df['Genres'].apply(lambda x: ', '.join(filter(None, x)))

In [15]:
df

,Publisher,Genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
88310,Kotoshiro,"Action, Casual, Indie, Simulation, Strategy",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,False,761140,Kotoshiro
88311,Making Fun Inc,"Free to Play, Indie, RPG, Strategy",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,False,643980,Secret Level SRL
88312,Poolianscom,"Casual, Free to Play, Indie, Simulation, Sports",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free to Play,False,670290,Poolians.com
88313,,"Action, Adventure, Casual",å¼¹ç‚¸äºº2222,å¼¹ç‚¸äºº2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"[Action, Adventure, Casual]",http://steamcommunity.com/app/767400/reviews/?...,[Single-player],0.99,False,767400,å½¼å²¸é¢†åŸŸ
88315,Trickjump Games Ltd,"Action, Adventure, Simulation",Battle Royale Trainer,Battle Royale Trainer,http://store.steampowered.com/app/772540/Battl...,2018-01-04,"[Action, Adventure, Simulation, FPS, Shooter, ...",http://steamcommunity.com/app/772540/reviews/?...,"[Single-player, Steam Achievements]",3.99,False,772540,Trickjump Games Ltd
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120439,Bidoniera Games,"Action, Adventure, Casual, Indie",Kebab it Up!,Kebab it Up!,http://store.steampowered.com/app/745400/Kebab...,2018-01-04,"[Action, Indie, Casual, Violent, Adventure]",http://steamcommunity.com/app/745400/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",1.99,False,745400,Bidoniera Games
120440,Ghostrus Games,"Casual, Indie, Simulation, Strategy",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,"[Single-player, Steam Achievements]",1.99,False,773640,"Nikita ""Ghost_RUS"""
120441,Sacada,"Casual, Indie, Strategy",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,"[Single-player, Steam Achievements, Steam Clou...",4.99,False,733530,Sacada
120442,Laush Studio,"Indie, Racing, Simulation",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,"[Single-player, Steam Achievements, Steam Trad...",1.99,False,610660,Laush Dmitriy Sergeevich
120443,Sixnails,"Casual, Indie",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",4.99,False,658870,"xropi,stev3ns"

Columna app-name y title:

In [16]:
# Contar los valores nulos en la columna seleccionada
cantidad_nulos = df['title'].isnull().sum()

print(f"\nCantidad de valores nulos en la columna '{'title'}': {cantidad_nulos}")

Cantidad de valores nulos en la columna 'title': 1

In [17]:
# Contar los valores nulos en la columna seleccionada
cantidad_nulos = df['app_name'].isnull().sum()

print(f"\nCantidad de valores nulos en la columna '{'app_name'}': {cantidad_nulos}")

Cantidad de valores nulos en la columna 'app_name': 1

Elimino la columna title  y voy a ocupar solo app_name

In [18]:
df = df.drop('title', axis=1)

Columna app_name

In [19]:
# Cambiar el nombre de la columna
df = df.rename(columns={'app_name': 'App_Name'})

In [20]:
# Eliminar filas con valores nulos en la columna "app_name"
df.dropna(subset=['App_Name'], inplace=True)

In [21]:
def normalize_developer_name(name):
    if isinstance(name, str):  # Verificar si es una cadena antes de normalizar
        cleaned_name = re.sub(r'[^a-zA-Z\s]', '', name)
        normalized_name = re.sub(r'\s+', ' ', cleaned_name.lower().strip())
        return normalized_name
    else:
        return name

df['App_Name'] = df['App_Name'].apply(normalize_developer_name)

In [22]:
# Aplicar la capitalizaciÃ³n a la columna
df['App_Name'] = df['App_Name'].str.title()

Elimino columnas que no voy a utilizar

In [23]:
columnas_a_eliminar = ['reviews_url', 'tags']

# Eliminar las columnas
df = df.drop(columns=columnas_a_eliminar)

In [24]:
df

,Publisher,Genres,App_Name,url,release_date,specs,price,early_access,id,developer
88310,Kotoshiro,"Action, Casual, Indie, Simulation, Strategy",Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,[Single-player],4.99,False,761140,Kotoshiro
88311,Making Fun Inc,"Free to Play, Indie, RPG, Strategy",Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,False,643980,Secret Level SRL
88312,Poolianscom,"Casual, Free to Play, Indie, Simulation, Sports",Real Pool D Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Single-player, Multi-player, Online Multi-Pla...",Free to Play,False,670290,Poolians.com
88313,,"Action, Adventure, Casual",,http://store.steampowered.com/app/767400/2222/,2017-12-07,[Single-player],0.99,False,767400,å½¼å²¸é¢†åŸŸ
88315,Trickjump Games Ltd,"Action, Adventure, Simulation",Battle Royale Trainer,http://store.steampowered.com/app/772540/Battl...,2018-01-04,"[Single-player, Steam Achievements]",3.99,False,772540,Trickjump Games Ltd
...,...,...,...,...,...,...,...,...,...,...
120439,Bidoniera Games,"Action, Adventure, Casual, Indie",Kebab It Up,http://store.steampowered.com/app/745400/Kebab...,2018-01-04,"[Single-player, Steam Achievements, Steam Cloud]",1.99,False,745400,Bidoniera Games
120440,Ghostrus Games,"Casual, Indie, Simulation, Strategy",Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Single-player, Steam Achievements]",1.99,False,773640,"Nikita ""Ghost_RUS"""
120441,Sacada,"Casual, Indie, Strategy",Logistical South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Single-player, Steam Achievements, Steam Clou...",4.99,False,733530,Sacada
120442,Laush Studio,"Indie, Racing, Simulation",Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Single-player, Steam Achievements, Steam Trad...",1.99,False,610660,Laush Dmitriy Sergeevich
120443,Sixnails,"Casual, Indie",Exit Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Single-player, Steam Achievements, Steam Cloud]",4.99,False,658870,"xropi,stev3ns"

Columna release_date

In [25]:
# Cambiar el nombre de la columna
df = df.rename(columns={'release_date': 'Release_Date'})

In [26]:
# Contar los valores nulos en la columna seleccionada
cantidad_nulos = df['Release_Date'].isnull().sum()

print(f"\nCantidad de valores nulos en la columna '{'Release_Date'}': {cantidad_nulos}")

Cantidad de valores nulos en la columna 'Release_Date': 18

Voy a crear una nueva columna que contenga solo el aÃ±o

Damos formato a todos los valores de la columna 'release_date' a los que no se les puede dar formato se les asigna NaT (Not a Time).Convertimos los valores al tipo datatime.

In [27]:
df['Release_Date'] = pd.to_datetime(df['Release_Date'],dayfirst=True, errors='coerce')

Eliminamos los registros NaT:

In [28]:
df.dropna(subset = ['Release_Date'], inplace=True)

Verifico que todos los registros tengan el mismo formato AAAA-MM-DD

In [29]:
df['Release_Date'] = pd.to_datetime(df['Release_Date']).dt.strftime('%Y-%m-%d')

-Creo la columna 'release_year' que va a contener el aÃ±o de la columna 'release_date'

In [30]:
df['Release_Year'] = pd.to_datetime(df['Release_Date']).dt.year

Verifico las columnas 'release_date','release_year'

In [31]:
df[['Release_Date','Release_Year']]

       Release_Date  Release_Year
88310    2018-01-04          2018
88311    2018-01-04          2018
88312    2017-07-24          2017
88313    2017-12-07          2017
88315    2018-01-04          2018
...             ...           ...
120439   2018-01-04          2018
120440   2018-01-04          2018
120441   2018-01-04          2018
120442   2018-01-04          2018
120443   2017-09-02          2017

[28659 rows x 2 columns]

Columna URL:

In [32]:
# Cambiar el nombre de la columna
df = df.rename(columns={'url': 'Url'})

In [33]:
# Contar los valores nulos en la columna seleccionada
cantidad_nulos = df['Url'].isnull().sum()

print(f"\nCantidad de valores nulos en la columna '{'Url'}': {cantidad_nulos}")

Cantidad de valores nulos en la columna 'Url': 0

In [34]:
df.dropna(subset = ['Url'], inplace=True)

Columna Specs:

In [35]:
# Cambiar el nombre de la columna
df = df.rename(columns={'specs': 'Specs'})

In [36]:
# Contar cuÃ¡ntos valores nulos hay en la columna 'specs'
nulos = df['Specs'].isnull().sum()
print("\nCantidad de valores nulos en la columna 'Specs':", nulos)

Cantidad de valores nulos en la columna 'Specs': 286

In [37]:
df.dropna(subset = ['Specs'], inplace=True)

La columna Specs presenta informacion de forma anidada

In [38]:
# Convertir los valores de la columna 'specs' en una cadena separada por comas
df['Specs'] = df['Specs'].apply(lambda x: ', '.join(filter(None, x)))

Columna price:

In [39]:
# Cambiar el nombre de la columna
df = df.rename(columns={'price': 'Price'})

In [40]:
# Reemplazo los valores Free to Play por 0.
df['Price'].replace('Free to Play', 0, inplace=True)
df['Price'].replace('Free To Play', 0, inplace=True)
df['Price'].replace('Play the Demo', 0, inplace=True)
df['Price'].replace('Install Now', 0, inplace=True)
df['Price'].replace('Free Mod', 0, inplace=True)
df['Price'].replace('Play for Free!', 0, inplace=True)
df['Price'].replace('Play WARMACHINE: Tactics Demo', 0, inplace=True)
df['Price'].replace('Install Theme', 0, inplace=True)
df['Price'].replace('Third-party', 0, inplace=True)
df['Price'].replace('Play Now', 0, inplace=True)
df['Price'].replace('Free HITMANâ„¢ Holiday Pack', 0, inplace=True)
df['Price'].replace('Free Movie', 0, inplace=True)
df['Price'].replace('Free', 0, inplace=True)
df['Price'].replace('Free Demo', 0, inplace=True)

In [41]:
# Convertir la columna de objeto a float
df['Price'] = df['Price'].astype(float)

In [42]:
df['Price'].info()

<class 'pandas.core.series.Series'>
Int64Index: 28373 entries, 88310 to 120443
Series name: Price
Non-Null Count  Dtype
--------------  -----
27335 non-null  float64
dtypes: float64(1)
memory usage: 443.3 KB

In [43]:
# Contar cuÃ¡ntos valores nulos hay en la columna 'price'
nulos = df['Price'].isnull().sum()
print("\nCantidad de valores nulos en la columna 'price':", nulos)

Cantidad de valores nulos en la columna 'price': 1038

In [44]:
df.dropna(subset = ['Price'], inplace=True)

Columna Early_access

In [45]:
# Cambiar el nombre de la columna
df = df.rename(columns={'early_access': 'Early_Access'})

In [46]:
df['Early_Access'].dtype

dtype('O')

In [47]:
# Convertir la columna de objeto a float
df['Early_Access'] = df['Early_Access'].astype(bool)

In [48]:
# Contar cuÃ¡ntos valores nulos hay en la columna 'early_access'
nulos = df['Early_Access'].isnull().sum()
print("\nCantidad de valores nulos en la columna 'early_access':", nulos)

Cantidad de valores nulos en la columna 'early_access': 0

Columna Developer:

In [49]:
# Cambiar el nombre de la columna
df = df.rename(columns={'developer': 'Developer'})

In [50]:
# Normalizar los nombres de las empresas publicadoras del contenido:
def normalize_developer_name(name):
    if isinstance(name, str):  # Verificar si es una cadena antes de normalizar
        cleaned_name = re.sub(r'[^a-zA-Z\s]', '', name)
        normalized_name = re.sub(r'\s+', ' ', cleaned_name.lower().strip())
        return normalized_name
    else:
        return name

df['Developer'] = df['Developer'].apply(normalize_developer_name)

In [51]:
# Aplicar la capitalizaciÃ³n a la columna
df['Developer'] = df['Developer'].str.title()

In [52]:
# Contar cuÃ¡ntos valores nulos hay en la columna 'developer'
nulos = df['Developer'].isnull().sum()
print("\nCantidad de valores nulos en la columna 'developer':", nulos)

Cantidad de valores nulos en la columna 'developer': 155

In [53]:
df.dropna(subset = ['Developer'], inplace=True)

Columna id:

In [54]:
# Cambiar el nombre de la columna
df = df.rename(columns={'id': 'User_Id'})

In [55]:
# Contar cuÃ¡ntos valores nulos hay en la columna 'developer'
nulos = df['User_Id'].isnull().sum()
print("\nCantidad de valores nulos en la columna 'User_Id':", nulos)

Cantidad de valores nulos en la columna 'User_Id': 1

In [56]:
df['User_Id'].dtype

dtype('O')

In [57]:
df.dropna(subset = ['User_Id'], inplace=True)

In [58]:
df.columns

Index(['Publisher', 'Genres', 'App_Name', 'Url', 'Release_Date', 'Specs',
       'Price', 'Early_Access', 'User_Id', 'Developer', 'Release_Year'],
      dtype='object')

In [59]:
# Definir el orden deseado de las columnas
orden_columnas = ['User_Id','App_Name','Release_Date','Release_Year','Price','Genres','Specs','Early_Access','Developer', 'Publisher']

# Crear un nuevo DataFrame con las columnas ordenadas
df= df[orden_columnas]

In [60]:
df

,User_Id,App_Name,Release_Date,Release_Year,Price,Genres,Specs,Early_Access,Developer,Publisher
88310,761140,Lost Summoner Kitty,2018-01-04,2018,4.99,"Action, Casual, Indie, Simulation, Strategy",Single-player,False,Kotoshiro,Kotoshiro
88311,643980,Ironbound,2018-01-04,2018,0.00,"Free to Play, Indie, RPG, Strategy","Single-player, Multi-player, Online Multi-Play...",False,Secret Level Srl,Making Fun Inc
88312,670290,Real Pool D Poolians,2017-07-24,2017,0.00,"Casual, Free to Play, Indie, Simulation, Sports","Single-player, Multi-player, Online Multi-Play...",False,Poolianscom,Poolianscom
88313,767400,,2017-12-07,2017,0.99,"Action, Adventure, Casual",Single-player,False,,
88315,772540,Battle Royale Trainer,2018-01-04,2018,3.99,"Action, Adventure, Simulation","Single-player, Steam Achievements",False,Trickjump Games Ltd,Trickjump Games Ltd
...,...,...,...,...,...,...,...,...,...,...
120439,745400,Kebab It Up,2018-01-04,2018,1.99,"Action, Adventure, Casual, Indie","Single-player, Steam Achievements, Steam Cloud",False,Bidoniera Games,Bidoniera Games
120440,773640,Colony On Mars,2018-01-04,2018,1.99,"Casual, Indie, Simulation, Strategy","Single-player, Steam Achievements",False,Nikita Ghostrus,Ghostrus Games
120441,733530,Logistical South Africa,2018-01-04,2018,4.99,"Casual, Indie, Strategy","Single-player, Steam Achievements, Steam Cloud...",False,Sacada,Sacada
120442,610660,Russian Roads,2018-01-04,2018,1.99,"Indie, Racing, Simulation","Single-player, Steam Achievements, Steam Tradi...",False,Laush Dmitriy Sergeevich,Laush Studio
120443,658870,Exit Directions,2017-09-02,2017,4.99,"Casual, Indie","Single-player, Steam Achievements, Steam Cloud",False,Xropistevns,Sixnails

In [61]:
# Guardar el DataFrame en un archivo CSV
df.to_csv('steam_games.csv', index=False)

Archivo australian_users_reviews.json:

Disponibilizo el archivo:

In [62]:
rows = []
with open('australian_user_reviews.json', encoding="utf8") as f: # Here test.json contains your data
    for line in f.readlines():
        rows.append(ast.literal_eval(line))
        
df2 = pd.DataFrame(rows)

In [63]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25799 entries, 0 to 25798
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   user_id   25799 non-null  object
 1   user_url  25799 non-null  object
 2   reviews   25799 non-null  object
dtypes: object(3)
memory usage: 604.8+ KB

In [64]:
df2

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."
...,...,...,...
25794,76561198306599751,http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la..."
25795,Ghoustik,http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l..."
25796,76561198310819422,http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',..."
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',..."

In [ ]:
# Ver la info completa de la columna reviews
for value in df2['reviews']:
    print(value)

In [66]:
df2.drop('user_url', axis=1)

                 user_id                                            reviews
0      76561197970982479  [{'funny': '', 'posted': 'Posted November 5, 2...
1                js41637  [{'funny': '', 'posted': 'Posted June 24, 2014...
2              evcentric  [{'funny': '', 'posted': 'Posted February 3.',...
3                  doctr  [{'funny': '', 'posted': 'Posted October 14, 2...
4              maplemage  [{'funny': '3 people found this review funny',...
...                  ...                                                ...
25794  76561198306599751  [{'funny': '', 'posted': 'Posted May 31.', 'la...
25795           Ghoustik  [{'funny': '', 'posted': 'Posted June 17.', 'l...
25796  76561198310819422  [{'funny': '1 person found this review funny',...
25797  76561198312638244  [{'funny': '', 'posted': 'Posted July 21.', 'l...
25798        LydiaMorley  [{'funny': '1 person found this review funny',...

[25799 rows x 2 columns]

Desanidar Columna Reviews

In [67]:
reviews_desanidadas = []
for row in df2.itertuples():
    for review in row.reviews:
        review_dict = {
            'user_id': row.user_id,
            **review
        }
        reviews_desanidadas.append(review_dict)

df2 = pd.DataFrame(reviews_desanidadas)

df2.head(3)

,user_id,funny,posted,last_edited,item_id,helpful,recommend,review
0,76561197970982479,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,76561197970982479,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.
2,76561197970982479,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...

In [68]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59305 entries, 0 to 59304
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      59305 non-null  object
 1   funny        59305 non-null  object
 2   posted       59305 non-null  object
 3   last_edited  59305 non-null  object
 4   item_id      59305 non-null  object
 5   helpful      59305 non-null  object
 6   recommend    59305 non-null  bool
 7   review       59305 non-null  object
dtypes: bool(1), object(7)
memory usage: 3.2+ MB

In [69]:
df2.shape

(59305, 8)

Columna user id:

In [70]:
# Cambiar el nombre de la columna
df2 = df2.rename(columns={'user_id': 'User_Id'})

In [71]:
# Contar los valores nulos en la columna 'user_id'
nulos_en_user_id = df2['User_Id'].isnull().sum()

print("Cantidad de valores nulos en 'User_Id':", nulos_en_user_id)

Cantidad de valores nulos en 'User_Id': 0

In [72]:
sin_nulos = df2['User_Id'].notnull().all()

Columna funny:

In [74]:
# Contar los valores nulos en la columna 'funny'
count_empty_values = (df2['funny'] == '').sum()
print("Cantidad de valores vacÃ­os:", count_empty_values)

Cantidad de valores vacÃ­os: 51154

Voy a eliminar la columna por tener mas del 70% de datos vacÃ­os

In [75]:
df2 = df2.drop(columns=['funny'])

Columna posted:

In [76]:
# Cambiar el nombre de la columna
df2 = df2.rename(columns={'posted': 'Posted'})

In [77]:
# Contar los valores nulos en la columna 'posted'
nulos_en_user_id = df2['Posted'].isnull().sum()

print("Cantidad de valores nulos en 'posted':", nulos_en_user_id)

Cantidad de valores nulos en 'posted': 0

Convertir la fecha a formato YYYY-MM-DD

In [ ]:
# Ver la info completa de la columna reviews
for value in df2['Posted']:
    print(value)

In [79]:
# Eliminar la palabra "Posted" de la columna 'posted'
df2['Posted'] = df2['Posted'].str.replace('Posted ', '')

Damos formato a todos los valores de la columna 'release_date' a los que no se les puede dar formato se les asigna NaT (Not a Time).Convertimos los valores al tipo datatime.

In [80]:
df2['Posted'] = pd.to_datetime(df2['Posted'],dayfirst=True, errors='coerce')

Eliminamos los registros NaT:

In [81]:
df2.dropna(subset = ['Posted'], inplace=True)

Verifico que todos los registros tengan el mismo formato AAAA-MM-DD

In [82]:
df2['Posted'] = pd.to_datetime(df2['Posted']).dt.strftime('%Y-%m-%d')

-Creo la columna 'Year' que va a contener el aÃ±o de la columna 'posted'

In [84]:
df2['Year'] = pd.to_datetime(df2['Posted']).dt.year

Elimino la columna last_edited por no utilizar:

In [85]:
df2 = df2.drop(columns=['last_edited'])

Columna item_id:

In [86]:
# Cambiar el nombre de la columna
df2 = df2.rename(columns={'item_id': 'Item_Id'})

In [87]:
# Contar los valores nulos en la columna 'item_id'
nulos_en_user_id = df2['Item_Id'].isnull().sum()

print("Cantidad de valores nulos en 'item_id':", nulos_en_user_id)

Cantidad de valores nulos en 'item_id': 0

Columna hepful:

In [21]:
# Contar los valores nulos en la columna 'helpful'
nulos_en_user_id = df2['helpful'].isnull().sum()
print("Cantidad de valores nulos en 'helpful':", nulos_en_user_id)

Cantidad de valores nulos en 'helpful': 0

In [88]:
df2 = df2.drop(columns=['helpful'])

Columna recommend

In [89]:
# Cambiar el nombre de la columna
df2 = df2.rename(columns={'recommend': 'Recommend'})

In [90]:
# Contar los valores nulos en la columna 'recommend'
nulos_en_user_id = df2['Recommend'].isnull().sum()
print("Cantidad de valores nulos en 'recommend':", nulos_en_user_id)

Cantidad de valores nulos en 'recommend': 0

Columna Review:

In [91]:
# Cambiar el nombre de la columna
df2 = df2.rename(columns={'review': 'Review'})

In [92]:
# Contar los valores nulos en la columna 'review'
nulos_en_user_id = df2['Review'].isnull().sum()
print("Cantidad de valores nulos en 'review':", nulos_en_user_id)

Cantidad de valores nulos en 'review': 0

- Debes crear la columna 'sentiment_analysis' aplicando anÃ¡lisis de sentimiento con NLP con la siguiente escala: debe tomar el valor '0' si es malo, '1' si es neutral y '2' si es positivo. Esta nueva columna debe reemplazar la de user_reviews.review para facilitar el trabajo de los modelos de machine learning y el anÃ¡lisis de datos. De no ser posible este anÃ¡lisis por estar ausente la reseÃ±a escrita, debe tomar el valor de 1.

In [93]:
import pandas as pd
from textblob import TextBlob


def analyze_sentiment(review):
    if pd.isnull(review):
        return 1  # Se le asigna el valor 1 si no hay informaciÃ³n
    else:
        analysis = TextBlob(review)
        polarity = analysis.sentiment.polarity
        
        if polarity < -0.2:
            return 0  # Malo
        elif polarity > 0.2:
            return 2  # Positivo
        else:
            return 1  # Neutral

# Aplicar el anÃ¡lisis de sentimiento y crear la nueva columna 'sentiment_analysis'
df2['sentiment_analysis'] = df2['Review'].apply(analyze_sentiment)

# Eliminar la columna 'review'
df2.drop(columns=['Review'], inplace=True)

df2.head(5)

             User_Id      Posted Item_Id  Recommend  Year  sentiment_analysis
0  76561197970982479  2011-11-05    1250       True  2011                   1
1  76561197970982479  2011-07-15   22200       True  2011                   2
2  76561197970982479  2011-04-21   43110       True  2011                   1
3            js41637  2014-06-24  251610       True  2014                   1
4            js41637  2013-09-08  227300       True  2013                   1

Columna Sentiment anaylis

In [94]:
# Cambiar el nombre de la columna
df2 = df2.rename(columns={'sentiment_analysis': 'Sentiment_Analysis'})

In [96]:
# Contar los valores nulos en la columna 'review'
nulos_en_user_id = df2['Sentiment_Analysis'].isnull().sum()
print("Cantidad de valores nulos en 'sentiment_analysis':", nulos_en_user_id)

Cantidad de valores nulos en 'sentiment_analysis': 0

In [97]:
df2['Sentiment_Analysis']

0        1
1        2
2        1
3        1
4        1
        ..
59252    1
59255    2
59265    0
59267    1
59276    2
Name: Sentiment_Analysis, Length: 49186, dtype: int64

In [98]:
# Guardar el DataFrame en un archivo CSV
df2.to_csv('user_reviews.csv', index=False)

Disponibilizo el archivo australian_users_items.json

In [99]:
rows = []
with open('australian_users_items.json', encoding="utf8") as f: # Here test.json contains your data
    for line in f.readlines():
        rows.append(ast.literal_eval(line))
        
df3 = pd.DataFrame(rows)

In [100]:
df3

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...,...,...
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...,[]
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"[{'item_id': '304930', 'item_name': 'Unturned'..."
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,[]

In [101]:
df3 = df3.drop('steam_id', axis=1)
df3 = df3.drop('user_url', axis=1)
df3 = df3.drop('items_count', axis=1)

In [102]:
# Crear una lista para almacenar las revisiones desanidadas
items_desanidadas = []

# Iterar a travÃ©s de las filas del DataFrame
for row in df3.itertuples():
    for items in row.items:
        items_dict = {
            'user_id': row.user_id,
             **items
        }
        items_desanidadas.append(items_dict)

# Crear un nuevo DataFrame a partir de las revisiones desanidadas
df3 = pd.DataFrame(items_desanidadas)

df3.head(50)

,user_id,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,10,Counter-Strike,6,0
1,76561197970982479,20,Team Fortress Classic,0,0
2,76561197970982479,30,Day of Defeat,7,0
3,76561197970982479,40,Deathmatch Classic,0,0
4,76561197970982479,50,Half-Life: Opposing Force,0,0
5,76561197970982479,60,Ricochet,0,0
6,76561197970982479,70,Half-Life,0,0
7,76561197970982479,130,Half-Life: Blue Shift,0,0
8,76561197970982479,300,Day of Defeat: Source,4733,0
9,76561197970982479,240,Counter-Strike: Source,1853,0
10,76561197970982479,3830,Psychonauts,333,0
11,76561197970982479,2630,Call of Duty 2,75,0
12,76561197970982479,3900,Sid Meier's Civilization IV,338,0
13,76561197970982479,34440,Sid Meier's Civilization IV,0,0
14,76561197970982479,3920,Sid Meier's Pirates!,2,0
15,76561197970982479,6400,Joint Task Force,286,0
16,76561197970982479,6910,Deus Ex: Game of the Year Edition,2685,0
17,76561197970982479,7670,BioShock,633,0
18,76561197970982479,409710,BioShock Remastered,0,0
19,76561197970982479,220,Half-Life 2,696,0
20,76561197970982479,320,Half-Life 2: Deathmatch,0,0
21,76561197970982479,340,Half-Life 2: Lost Coast,37,0
22,76561197970982479,360,Half-Life Deathmatch: Source,0,0
23,76561197970982479,380,Half-Life 2: Episode One,168,0
24,76561197970982479,400,Portal,173,0
25,76561197970982479,420,Half-Life 2: Episode Two,323,0
26,76561197970982479,9340,Company of Heroes: Opposing Fronts,692,0
27,76561197970982479,228200,Company of Heroes (New Steam Version),0,0
28,76561197970982479,11450,Overlord,0,0
29,76561197970982479,7940,Call of Duty 4: Modern Warfare,1185,0
30,76561197970982479,4700,Medieval II: Total War,477,0
31,76561197970982479,12900,Audiosurf,115,0
32,76561197970982479,13250,Unreal Gold,0,0
33,76561197970982479,16100,Virtual Villagers: A New Home,0,0
34,76561197970982479,15700,Oddworld: Abe's Oddysee,28,0
35,76561197970982479,15710,Oddworld: Abe's Exoddus,0,0
36,76561197970982479,17330,Crysis Warhead,31,0
37,76561197970982479,17340,Crysis Wars,0,0
38,76561197970982479,22000,World of Goo,195,0
39,76561197970982479,500,Left 4 Dead,513,0
40,76561197970982479,4560,Company of Heroes,1061,0
41,76561197970982479,17460,Mass Effect,1613,0
42,76561197970982479,10500,Empire: Total War,186,0
43,76561197970982479,24740,Burnout Paradise: The Ultimate Box,0,0
44,76561197970982479,22200,Zeno Clash,271,0
45,76561197970982479,26800,Braid,445,0
46,76561197970982479,1250,Killing Floor,10006,0
47,76561197970982479,35420,Killing Floor Mod: Defence Alliance 2,0,0
48,76561197970982479,3590,Plants vs. Zombies: Game of the Year,4413,0
49,76561197970982479,8880,Freedom Force,0,0

In [87]:
df3.shape

(5153209, 5)

Columna user_id

In [104]:
#Buscar caracteres no numericos
def es_entero_valido(cadena):
    try:
        int(cadena)
        return True
    except (ValueError, OverflowError):
        return False

# Identificar las filas con caracteres que no son numericos
filas_problematicas = df3[~df3['user_id'].apply(es_entero_valido)]

# Eliminar las filas 
df3 = df3.drop(filas_problematicas.index)

In [105]:
df3.shape

(2252533, 5)

In [106]:
# Cambiar el nombre de la columna
df3 = df3.rename(columns={'user_id': 'User_Id'})

In [108]:
tipo_de_datos = df3['User_Id'].dtype
print(tipo_de_datos)

object

Columna playtime_2weeks

In [109]:
df3 = df3.drop('playtime_2weeks', axis=1)

In [110]:
df3.shape

(2252533, 4)

Columna item_id

In [111]:
# Cambiar el nombre de la columna
df3 = df3.rename(columns={'item_id': 'Item_Id'})

In [113]:
# Contar los valores nulos en la columna 'review'
nulos_en_user_id = df3['Item_Id'].isnull().sum()
print("Cantidad de valores nulos en 'Item_Id':", nulos_en_user_id)

Cantidad de valores nulos en 'Item_Id': 0

Columna playtime_forever

In [118]:
# Cambiar el nombre de la columna
df3 = df3.rename(columns={'playtime_forever': 'Playtime_Forever'})

In [119]:
# Contar los valores nulos en la columna 'review'
nulos_en_user_id = df3['Playtime_Forever'].isnull().sum()
print("Cantidad de valores nulos en 'Playtime_Forever':", nulos_en_user_id)

Cantidad de valores nulos en 'Playtime_Forever': 0

Columna item_name:

In [114]:
# Cambiar el nombre de la columna
df3 = df3.rename(columns={'item_name': 'Item_Name'})

In [115]:
conteo_valores_nulos = df3.isnull().sum()

In [116]:
conteo_valores_nulos

User_Id             0
Item_Id             0
Item_Name           0
playtime_forever    0
dtype: int64

In [120]:
df3

,User_Id,Item_Id,Item_Name,Playtime_Forever
0,76561197970982479,10,Counter-Strike,6
1,76561197970982479,20,Team Fortress Classic,0
2,76561197970982479,30,Day of Defeat,7
3,76561197970982479,40,Deathmatch Classic,0
4,76561197970982479,50,Half-Life: Opposing Force,0
...,...,...,...,...
5153204,76561198329548331,346330,BrainBread 2,0
5153205,76561198329548331,373330,All Is Dust,0
5153206,76561198329548331,388490,One Way To Die: Steam Edition,3
5153207,76561198329548331,521570,You Have 10 Seconds 2,4
5153208,76561198329548331,519140,Minds Eyes,3

In [121]:
# Guardar el DataFrame en un archivo CSV
df3.to_csv('user_items.csv', index=False)